# TP1 - Finding Keys using Functional Dependencies 
--------------------------

In this lab, we are going to learn 

- how to use Jupyter
- how to use SQLite
- how to discover keys in relations

## How to use Jupyter

To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!)

To edit a cell, click on it. If the cell uses markdown code, then use ENTER to edit it.

See the Help menu for other useful keyboard commands. You can always use the menu bar instead as well.

In [ ]:
print("Hello world!")

Hello world!

Another example:

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

#### Exercise 1

Print numbers 1 to 9 in reverse order

In [ ]:
for i in range(9,0,-1):
  print(i)

9
8
7
6
5
4
3
2
1

## How to use SQLite

To work with SQL easily in a notebook, we'll load the ipython-sql extension as follows:

In [ ]:
%load_ext sql
%sql sqlite://

'Connected: @None'

We are going to create a table:

In [ ]:
%%sql DROP TABLE IF EXISTS T;
CREATE TABLE T(course VARCHAR, classroom INT, time INT);
INSERT INTO T VALUES ('CS 364', 132, 900);
INSERT INTO T VALUES ('CS 245', 140, 1000);
INSERT INTO T VALUES ('EE 101', 210, 900);

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Let's run our first SQL query:

In [ ]:
%sql SELECT * FROM T;

 * sqlite://
Done.

[('CS 364', 132, 900), ('CS 245', 140, 1000), ('EE 101', 210, 900)]

#### Exercise 2

List the name of the courses with time less than 950

In [ ]:
%sql SELECT course from T \
      WHERE time < 950

 * sqlite://
Done.

[('CS 364',), ('EE 101',)]

## How to discover keys in relations

Now, we are going to work with functional dependencies, keys and closures. Our final goal is going to build a method to find keys in a relation.

### Functional Dependencies

Recall that given a set of attributes  $\{A_1, \dots, A_n\}$ and a set of FDs $\Gamma$

The closure, denoted $\{A_1, \dots, A_n\}^+$, is defined to be the largest set of attributes B s.t. $$A_1,\dots,A_n \rightarrow B \text{ using } \Gamma.$$

We're going to use some functions to compute the closure of a set of attributes and other such operations (_from CS145 Stanford_)

In [ ]:
# Source code

def to_set(x):
  """Convert input int, string, list, tuple, set -> set"""
  if type(x) == set:
    return x
  elif type(x) in [list, set]:
    return set(x)
  elif type(x) in [str, int]:
    return set([x])
  else:
    raise Exception("Unrecognized type.")

def fd_to_str(lr_tuple):
    lhs = lr_tuple[0]
    rhs = lr_tuple[1]
    return ",".join(to_set(lhs)) + " -> " + ",".join(to_set(rhs))

def fds_to_str(fds): return "\n\t".join(map(fd_to_str, fds))

def set_to_str(x): return "{" + ",".join(x) + "}"

def fd_applies_to(fd, x): 
  lhs, rhs = map(to_set, fd)
  return lhs.issubset(x)

def print_setup(A, fds):
  print("Attributes = " + set_to_str(A))
  print("FDs = \t" + fds_to_str(fds))

def print_fds(fds):
  print("FDs = \t" + fds_to_str(fds))

Now, let's look at a concrete example. For example, the code for

attributes = { name, category, color, department, price}

and functional dependencies:

name $\rightarrow$ color

category $\rightarrow$ department

color, category $\rightarrow$ price

is the following:

In [ ]:
attributes  = set(["name", "category", "color", "department", "price"]) # These are the attribute set.
fds = [(set(["name"]),"color"),
         (set(["category"]), "department"),
         (set(["color", "category"]), "price")]

print_setup(attributes, fds)

Attributes = {color,category,name,price,department}
FDs = 	name -> color
	category -> department
	category,color -> price

### Closure of a set of Attributes

Let's implement the algorithm for obtaining the closure of a set of attributes:

In [ ]:
def compute_closure(x, fds, verbose=False):
    bChanged = True        # We will repeat until there are no changes.
    x_ret    = x.copy()    # Make a copy of the input to hold x^{+}
    while bChanged:
        bChanged = False   # Must change on each iteration
        for fd in fds:     # loop through all the FDs.
            (lhs, rhs) = map(to_set, fd) # recall: lhs -> rhs
            if fd_applies_to(fd, x_ret) and not rhs.issubset(x_ret):
                x_ret = x_ret.union(rhs)
                if verbose:
                    print("Using FD " + fd_to_str(fd))
                    print("\t Updated x to " + set_to_str(x_ret))
                bChanged = True
    return x_ret

As an example, let's compute the closure for the attribute "name":

In [ ]:
A = set(["name"])
compute_closure(A,fds, True)

Using FD name -> color
	 Updated x to {name,color}

{'color', 'name'}

#### Exercise 3

Is the attribute "name" a superkey for this relation? Why?

Answer: No, "name" is not a superkey for this relation because superkey is a set of all attributes that uniquely identifies a row. But here is does not satify this definition of a super key.

### Keys and Superkeys

Next, we'll add some new functions now for finding superkeys and keys.  Recall:
* A _superkey_ for a relation $R(B_1,\dots,B_m)$ is a set of attributes $\{A_1,\dots,A_n\}$ s.t.
$$ \{A_1,\dots,A_n\} \rightarrow B_{j} \text{ for all } j=1,\dots m$$
* A _key_ is a minimal (setwise) _superkey_

The algorithm to determine if a set of attributes $A$ is a superkey for $X$ is actually very simple (check if $A^+=X$):

In [ ]:
def is_superkey_for(A, X, fds, verbose=False): 
    return X.issubset(compute_closure(A, fds, verbose=verbose))

Is "name" a superkey of the relation?

In [ ]:
is_superkey_for(A, attributes, fds)

False

Then, to check if $A$ is a key for $X$, we just confirm that:
* (a) it is a superkey
* (b) there are no smaller superkeys (_Note that we only need to check for superkeys of one size smaller_)

In [ ]:
import itertools
def is_key_for(A, X, fds, verbose=False):
    subsets = set(itertools.combinations(A, len(A)-1))
    return is_superkey_for(A, X, fds) and \
        all([not is_superkey_for(set(SA), X, fds) for SA in subsets])

Now, let's look at another example:

attributes = { cru, type, client, remise}

and functional dependencies:

cru $\rightarrow$ type

type, client $\rightarrow$ remise

#### Exercise 4

Is "cru" and "client" a key of the relation? Why?

In [ ]:
attributes0 = set(['cru', 'type', 'client', 'remise'])
fds0 = [(set(['cru']), 'type'), 
       (set(['type', 'client']), 'remise')]
A = set(['cru', 'client'])
is_key_for(A, attributes0, fds0)

True

Because it's a superkey and it is minimal.

### Closure of a set of functional dependencies

The algorithm to find the closure of a set of functional dependencies is the following:

In [ ]:
import itertools
def findsubsets(S,m):
    return set(itertools.combinations(S, m))
def closure(X, fds, verbose=False):
    c = []
    for size in range(1, len(X)):
        subsets = findsubsets(X, size) 
        for SA in subsets:      # loop through all the subsets.
            cl = compute_closure(set(SA), fds, verbose)
            if len(cl.difference(SA)) > 0: 
                c.extend([(set(SA), cl.difference(SA))])
    return c

Let's see some examples of how to use it:

In [ ]:
attributes1 = set(['A', 'B', 'C', 'D'])
fds1 = [(set(['A', 'B']), 'C'),
     (set(['A', 'D']), 'B'),
     (set(['B']), 'D')]
print_fds(closure(attributes1, fds1))

FDs = 	B -> D
	A,D -> C,B
	A,B -> C,D
	C,B -> D
	A,B,D -> C
	A,B,C -> D
	A,C,D -> B

In [ ]:
attributes4 = set(['A', 'B', 'C', 'D','E', 'F', 'G', 'H'])
fds4 = [(set(['D']), 'B'),
        (set(['B', 'E']), 'C'),
     (set(['D', 'A']), 'D'),
     (set(['C']), 'F'),
     (set(['D', 'E']), 'F'),
     (set(['F', 'G', 'H']), 'C'),
     (set(['A']), 'B'),
     (set(['A', 'D']), 'G')]

print_fds(closure(attributes4, fds4))

FDs = 	D -> B
	A -> B
	C -> F
	D,F -> B
	C,H -> F
	C,E -> F
	C,D -> B,F
	A,C -> B,F
	E,D -> C,B,F
	A,D -> G,B
	B,E -> C,F
	G,D -> B
	G,C -> F
	A,H -> B
	A,F -> B
	G,A -> B
	C,B -> F
	H,D -> B
	A,E -> C,B,F
	C,B,E -> F
	C,H,D -> B,F
	B,E,D -> C,F
	G,C,E -> F
	C,E,D -> B,F
	G,A,C -> B,F
	A,H,E -> B,C,F
	E,D,F -> C,B
	G,C,H -> F
	G,A,H -> B
	C,A,E -> F,B
	G,E,D -> C,B,F
	G,C,D -> B,F
	A,H,D -> G,B
	C,H,B -> F
	G,C,B -> F
	H,D,F -> B
	G,A,E -> B,C,F
	C,H,E -> F
	G,H,D -> B
	A,C,D -> G,B,F
	A,E,D -> G,B,C,F
	B,H,E -> C,F
	A,H,F -> B
	A,H,C -> B,F
	A,D,F -> G,B
	G,B,E -> C,F
	A,B,C -> F
	H,E,D -> C,B,F
	G,A,F -> B
	A,B,D -> G
	C,D,F -> B
	G,H,F -> C
	A,C,F -> B
	A,E,F -> B,C
	G,D,F -> B
	B,E,F -> C
	C,B,D -> F
	A,B,E -> C,F
	G,A,D -> B
	C,H,D,F -> B
	G,E,D,F -> C,B
	B,A,H,C -> F
	G,A,E,F -> C,B
	G,C,B,E -> F
	B,H,E,F -> C
	H,E,D,F -> C,B
	A,B,E,D -> G,C,F
	C,A,E,F -> B
	G,A,H,D -> B
	G,A,H,C -> B,F
	G,C,E,D -> B,F
	A,B,D,F -> G
	G,C,H,E -> F
	C,G,A,E -> B,F
	G,C,H,D -> B,F
	G,A,E,D -> C,B,F
	C,H,E,D -> B,F
	B,A,H,E -> C,F
	B,H,E,D -> C,F
	A,B,E,F -> C
	G,H,E,F -> C
	G,A,H,E -> C,B,F
	G,A,H,F -> C,B
	C,H,B,D -> F
	G,B,E,F -> C
	C,E,D,F -> B
	C,A,B,E -> F
	C,B,E,D -> F
	G,A,C,F -> B
	B,E,D,F -> C
	A,E,D,F -> G,C,B
	G,H,B,F -> C
	G,H,E,D -> C,B,F
	G,H,D,F -> C,B
	G,A,D,F -> B
	G,C,H,B -> F
	A,H,C,F -> B
	A,H,E,F -> C,B
	G,B,E,D -> C,F
	G,A,B,E -> C,F
	B,C,H,E -> F
	G,H,E,B -> C,F
	G,C,D,F -> B
	G,A,C,D -> B,F
	A,H,D,F -> G,C,B
	G,C,B,D -> F
	A,H,B,D -> G
	A,C,D,F -> G,B
	A,B,C,D -> G,F
	C,A,E,D -> G,B,F
	C,A,H,E -> B,F
	G,A,B,C -> F
	A,H,C,D -> G,B,F
	A,H,E,D -> G,C,B,F
	G,E,H,B,F -> C
	A,E,H,B,D -> G,C,F
	G,A,E,H,C -> B,F
	G,A,H,C,B -> F
	G,A,E,B,D -> C,F
	G,A,E,D,F -> C,B
	G,E,H,D,F -> C,B
	G,E,H,B,D -> C,F
	G,E,C,B,D -> F
	E,H,C,D,F -> B
	G,A,E,C,F -> B
	G,H,B,D,F -> C
	A,E,H,B,F -> C
	G,E,H,C,D -> B,F
	A,C,B,D,F -> G
	G,A,C,D,F -> B
	G,E,B,D,F -> C
	G,A,E,B,F -> C
	G,A,E,C,B -> F
	A,E,C,B,D -> G,F
	A,H,C,D,F -> G,B
	A,E,C,D,F -> G,B
	E,H,B,D,F -> C
	A,E,H,D,F -> G,C,B
	G,A,H,D,F -> C,B
	A,H,C,B,D -> G,F
	G,A,E,C,D -> B,F
	G,A,E,H,B -> C,F
	A,E,B,D,F -> G,C
	A,E,H,C,D -> G,B,F
	G,H,C,B,D -> F
	G,A,E,H,F -> C,B
	G,A,H,C,D -> B,F
	A,E,H,C,B -> F
	G,E,C,D,F -> B
	A,H,B,D,F -> G,C
	G,H,C,D,F -> B
	A,E,H,C,F -> B
	E,H,C,B,D -> F
	G,A,C,B,D -> F
	G,E,H,C,B -> F
	G,A,E,H,D -> C,B,F
	G,A,H,C,F -> B
	G,A,H,B,F -> C
	A,E,H,B,D,F -> G,C
	G,E,H,B,D,F -> C
	A,H,C,B,D,F -> G
	G,A,E,C,D,F -> B
	G,A,E,H,C,F -> B
	G,E,H,C,D,F -> B
	G,A,E,H,C,D -> B,F
	G,A,E,H,B,D -> C,F
	A,E,H,C,B,D -> G,F
	A,E,C,B,D,F -> G
	G,A,E,C,B,D -> F
	G,A,E,H,B,F -> C
	G,A,H,C,D,F -> B
	G,A,H,C,B,D -> F
	G,A,E,H,C,B -> F
	G,A,E,H,D,F -> C,B
	A,E,H,C,D,F -> G,B
	G,A,H,B,D,F -> C
	G,A,E,B,D,F -> C
	G,E,H,C,B,D -> F
	A,E,H,C,B,D,F -> G
	G,A,E,H,C,D,F -> B
	G,A,E,H,C,B,D -> F
	G,A,E,H,B,D,F -> C

In [ ]:
attributes2 = set (['CRU', 'TYPE', 'CLIENT', 'REMISE'])
fds2 = [(set(['CRU']), 'TYPE'),
     (set(['TYPE', 'CLIENT']), 'REMISE')]
print_fds(closure(attributes2, fds2))

FDs = 	CRU -> TYPE
	CRU,CLIENT -> REMISE,TYPE
	CLIENT,TYPE -> REMISE
	CRU,REMISE -> TYPE
	CRU,REMISE,CLIENT -> TYPE
	CRU,CLIENT,TYPE -> REMISE

In [ ]:
attributes3 = set( ['N VEH', 'TYPE', 'COULEUR', 'MARQUE', 'PUISSANCE'])
fds3 = [(set(['N VEH']), 'TYPE'), 
      (set(['N VEH']), 'COULEUR'),
      (set(['TYPE']), 'MARQUE'),
      (set(['TYPE']), 'PUISSANCE')]
print_fds(closure(attributes3,fds3))

FDs = 	TYPE -> MARQUE,PUISSANCE
	N VEH -> COULEUR,MARQUE,PUISSANCE,TYPE
	COULEUR,TYPE -> MARQUE,PUISSANCE
	N VEH,TYPE -> COULEUR,MARQUE,PUISSANCE
	MARQUE,TYPE -> PUISSANCE
	N VEH,MARQUE -> COULEUR,PUISSANCE,TYPE
	N VEH,PUISSANCE -> COULEUR,MARQUE,TYPE
	PUISSANCE,TYPE -> MARQUE
	COULEUR,N VEH -> MARQUE,PUISSANCE,TYPE
	COULEUR,MARQUE,N VEH -> PUISSANCE,TYPE
	N VEH,PUISSANCE,TYPE -> COULEUR,MARQUE
	COULEUR,PUISSANCE,N VEH -> MARQUE,TYPE
	COULEUR,N VEH,TYPE -> MARQUE,PUISSANCE
	COULEUR,MARQUE,TYPE -> PUISSANCE
	N VEH,MARQUE,PUISSANCE -> COULEUR,TYPE
	N VEH,MARQUE,TYPE -> COULEUR,PUISSANCE
	COULEUR,PUISSANCE,TYPE -> MARQUE
	COULEUR,MARQUE,PUISSANCE,N VEH -> TYPE
	N VEH,MARQUE,PUISSANCE,TYPE -> COULEUR
	COULEUR,N VEH,PUISSANCE,TYPE -> MARQUE
	COULEUR,N VEH,MARQUE,TYPE -> PUISSANCE

Now, let's write a method to find superkeys of the relations:

In [ ]:
def superkeys(X, fds, verbose=False):
    c = []
    for size in range(1, len(X)):
        subsets = findsubsets(X, size)
        for SA in subsets:
            cl = compute_closure(set(SA), fds, verbose)
            if cl == X and len(cl.difference(SA)) > 0: ## cl = X
                c.extend([SA])
    return c

In [ ]:
superkeys(attributes1, fds1)

[('B', 'A'), ('D', 'A'), ('D', 'C', 'A'), ('C', 'B', 'A'), ('D', 'B', 'A')]

Let's see some examples:

In [ ]:
superkeys(attributes2, fds2)

[('CRU', 'CLIENT'), ('REMISE', 'CRU', 'CLIENT'), ('TYPE', 'CRU', 'CLIENT')]

In [ ]:
superkeys(attributes3, fds3)

[('N VEH',),
 ('N VEH', 'COULEUR'),
 ('N VEH', 'PUISSANCE'),
 ('N VEH', 'TYPE'),
 ('N VEH', 'MARQUE'),
 ('N VEH', 'MARQUE', 'PUISSANCE'),
 ('N VEH', 'COULEUR', 'PUISSANCE'),
 ('N VEH', 'MARQUE', 'COULEUR'),
 ('N VEH', 'COULEUR', 'TYPE'),
 ('N VEH', 'TYPE', 'PUISSANCE'),
 ('N VEH', 'MARQUE', 'TYPE'),
 ('N VEH', 'MARQUE', 'COULEUR', 'TYPE'),
 ('N VEH', 'COULEUR', 'TYPE', 'PUISSANCE'),
 ('N VEH', 'MARQUE', 'TYPE', 'PUISSANCE'),
 ('N VEH', 'MARQUE', 'COULEUR', 'PUISSANCE')]

#### Exercise 5

Implement a `keys` method to find keys of a relation.

**Note**: If there exist multiple keys of a relation, the `keys` method should return at least one of them.

In [ ]:
def keys(X, fds, verbose=False):
  k = []
  c = []
  c = superkeys(X, fds)
  # print (c)
  for size in range(1, len(X)):
        subsets = findsubsets(X, size)
        for SA in subsets:
            # print(SA)
            cl = compute_closure(set(SA), fds, verbose)
            if cl == X and k not in c and len(cl.difference(SA)) > 0: 
            # and SA not in superkeys(X, fds): ## cl = X
                k.extend([SA])
  return k

Test it

In [ ]:
keys(attributes1, fds1)

{'A', 'B'}

In [ ]:
keys(attributes2, fds2)

{'CLIENT', 'CRU'}

In [ ]:
keys(attributes3, fds3)

{'N VEH'}