# TP2 - DB Normalization and Querying

The objectives of this TP are:
1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this TP, we will use a database **`wine.db`** (available in the course's website) containing wine information related to 'production' and 'sales'. 

> Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [ ]:
import sqlite3    # Python interface for SQLite databases

In [ ]:
def printSchema(connection):
    # Function to print the DB schema
    # Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [ ]:
conn = sqlite3.connect('/content/drive/MyDrive/SD202-Databases/wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
AllWines:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
Production:
  0: NV(NUM)
  1: CRU(TEXT)
  2: QTE(NUM)
  3: NP(NUM)
  4: REGION(TEXT)
Sales:
  0: NV(NUM)
  1: LIEU(TEXT)
  2: QTE(NUM)
  3: NB(NUM)
  4: REGION(TEXT)
WineProd:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
WineSales:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
WineTable:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

From this point we will use __%%sql__ magic

In [ ]:
%load_ext sql
%sql sqlite:////content/drive/MyDrive/SD202-Databases/wine.db

'Connected: @/content/drive/MyDrive/SD202-Databases/wine.db'

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables **Master1** and **Master2** are in the First Normal Form (1NF).

By inspecting the content of these tables we can see that multiple tuples have NULL values.

In [ ]:
%%sql SELECT *
FROM Master1
LIMIT 10;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(None, None, None, None, None, 3, 'Six', 'Paul', 'Alsace'),
 (None, None, None, None, None, 6, 'Marmagne', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 8, "Lioger d'Harduy", 'Gabriel', 'Bourgogne'),
 (None, None, None, None, None, 16, 'Barbin', 'Bernard', 'Bourgogne'),
 (None, None, None, None, None, 17, 'Faiveley', 'Guy', 'Bourgogne'),
 (None, None, None, None, None, 18, 'Tramier', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 19, 'Dupaquier', 'Roger', 'Bourgogne'),
 (None, None, None, None, None, 20, 'Lamy', 'Jean', 'Bourgogne'),
 (None, None, None, None, None, 21, 'Cornu', 'Edmond', 'Bourgogne'),
 (None, None, None, None, None, 26, 'Violot', 'Gilbert', 'Bourgogne')]

* Notice that Jupyter *displays* 'None' instead of 'NULL'. 
  - This is only to comply with python notation.
* To account for NULL values, your SQL queries must test explicitly for 'NULL'.

Another problem in **Master1** and **Master2** is data redundancy, for example:

In [ ]:
%%sql SELECT *
FROM Master1
WHERE NV = 45;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(45, 'Chiroubles', None, 1983, 90, 2, 'Boxler', 'Albert', 'Alsace'),
 (45, 'Chiroubles', None, 1983, 912, 67, 'Descombes', 'Jean Ernest', 'Beaujolais'),
 (45, 'Chiroubles', None, 1983, 98, 71, 'Chalandard', 'Danile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 540, 78, 'Michlel', 'Pierre Emile', 'Jura'),
 (45, 'Chiroubles', None, 1983, 450, 86, 'Dumazet', 'Marc', 'Rhone')]

---

Additional resource for Normalization:

https://www.youtube.com/watch?v=UrYLYV7WSHM

---

#### Exercise 1.1

Convert table **Master1** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.
  
Remember that **`wine.db`** contains information related to wine 'production' and 'sells'.

> Production <---> Wine <---> Sales

A good start point is to look for the 'Wine' attributes.

**Hint:** Look for redundant information between the master tables.

**Answer:**

Converting Master 1 into Second Normal Form:

Table1: NV, CRU, DEGRE, MILL
Here, NV is the primary key and the other attributes are dependent on NV (Wine number)

Table2: NV, CRU, QTE, NP, REGION
Here the dependency is on NV/CRU (Vineyard)

Table3: NP, NOM, PRENOM
Here the primary key is NP.

The schema is as follows:
Table 1 is connected to Table2 by the field NV.
Table 3 is connected to Table2 by the field, NP.

#### Exercise 1.2

Convert table **Master2** to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.
* Explain your answer
* List main functional dependencies (not all of them)
* Describe the schema of new tables and how they relate
  * You can write Tables as above or you can insert images in the notebook.

**Note:** For this part, consider that a wine can be bought in multiple locations and multiple times per day.

**Answer:**

Converting Master 2 into Third Normal Form:

Table1: NV, CRU, DEGRE, MILL
Here, NV is the primary key and the other attributes are dependent on NV (Wine number)

Table2: NV, LIEU, QTE, NB, REGION
Here the dependency is on NV (Wine number)

Table3: NB, NOM, PRENOM, TYPE
Here the primary key is NB.

The schema is as follows:
Table 1 is connected to Table2 by the field NV.
Table 3 is connected to Table2 by the field, NB.

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables.

A table can be created from the result of a query.

In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [ ]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.

[]

In [ ]:
print("\nContent of the database")
printSchema(conn)

Content of the database
AllWines:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
Client:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
Production:
  0: NV(NUM)
  1: CRU(TEXT)
  2: QTE(NUM)
  3: NP(NUM)
  4: REGION(TEXT)
Sales:
  0: NV(NUM)
  1: LIEU(TEXT)
  2: QTE(NUM)
  3: NB(NUM)
  4: REGION(TEXT)
WineProd:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
WineSales:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
WineTable:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
dummy:
  0: DEGRE(NUM)

In [ ]:
%%sql
SELECT *
FROM dummy;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Looking into "dummy", we notice that our query includes NULL. This is not allowed if we were to use DEGRE as key for a table.

To correct this, we need to change the query to explicitly test for NULL as follows:

In [ ]:
%%sql DROP TABLE IF EXISTS dummy;

-- Create dummy table
CREATE TABLE dummy AS
SELECT DISTINCT DEGRE
FROM MASTER1
WHERE DEGRE IS NOT NULL;

SELECT *
FROM dummy;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

Notice that we use `NULL` given that `None` is only used for display.

In [ ]:
# Remove "dummy" table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[]

#### Exercise 1.3

Create the new tables from Master1:

In [ ]:
%%sql DROP TABLE IF EXISTS WineProd;

-- Creating Wine table
CREATE TABLE WineProd AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER1
WHERE NV IS NOT NULL;

SELECT *
FROM WineProd

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [ ]:
%%sql DROP TABLE IF EXISTS Production;

-- Creating Production table
CREATE TABLE Production AS
SELECT DISTINCT NV, CRU, QTE, NP, REGION
FROM MASTER1
WHERE NV IS NOT NULL;

SELECT *
FROM Production;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 300, 1, 'Alsace'),
 (1, 'Mercurey', 1, 73, 'Jura'),
 (2, 'Julienas', 100, 5, 'Bourgogne'),
 (3, 'Savigny les Beaunes', 400, 1, 'Alsace'),
 (4, 'Mercurey', 35, 10, 'Bourgogne'),
 (5, 'Pommard', 46, 30, 'Bourgogne'),
 (6, 'Mercurey', 300, 42, 'Bourgogne'),
 (7, 'Grands Echezeaux', 60, 98, 'Rhone'),
 (8, 'Cotes de Beaune Villages', 12, 90, 'Rhone'),
 (9, 'Chapelle Chambertin', None, None, None),
 (10, 'Beaujolais Villages', 100, 98, 'Rhone'),
 (11, 'Sylvaner', 200, 5, 'Bourgogne'),
 (12, 'Gentil', 31, 7, 'Bourgogne'),
 (12, 'Gentil', 200, 43, 'Bourgogne'),
 (12, 'Gentil', 310, 89, 'Rhone'),
 (13, 'Cotes du Rhone', 13, 13, 'Bourgogne'),
 (14, 'Chateau Chalon', 180, 86, 'Rhone'),
 (15, 'Cote de Brouilly', 290, 80, 'Jura'),
 (16, 'Meursault', 100, 38, 'Bourgogne'),
 (17, 'Meursault', 50, 95, 'Rhone'),
 (18, 'Chambolle Musigny', 120, 40, 'Bourgogne'),
 (19, 'Clos du roi', 986, 7, 'Bourgogne'),
 (20, 'Cote de Brouilly', 100, 50, 'Bourgogne'),
 (21, 'Cotes de Nuits', 150, 5, 'Bourgogne'),
 (22, 'Savigny les Beaunes', 50, 86, 'Rhone'),
 (23, 'Pommard', 15, 86, 'Rhone'),
 (24, 'Cotes de Beaune Villages', 859, 36, 'Bourgogne'),
 (25, 'Chapelle Chambertin', 40, 95, 'Rhone'),
 (26, 'Chateau Corton Grancey', 70, 43, 'Bourgogne'),
 (27, 'Puligny Montrachet', 60, 99, 'Rhone'),
 (28, 'Volnay', 10, 50, 'Bourgogne'),
 (29, 'Corton', 50, 50, 'Bourgogne'),
 (30, 'Bourgogne Passe Tout Grains', 350, 22, 'Bourgogne'),
 (31, 'Monthelie', 320, 50, 'Bourgogne'),
 (32, 'Pouilly Vinzelles', 500, 9, 'Bourgogne'),
 (32, 'Pouilly Vinzelles', 890, 72, 'Jura'),
 (33, 'Santenay', 70, 60, 'Beaujolais'),
 (34, 'Montagny', None, 4, 'Alsace'),
 (35, 'Auxey Duresses', 900, 10, 'Bourgogne'),
 (35, 'Auxey Duresses', 350, 23, 'Bourgogne'),
 (36, 'Chorey les Beaunes', 50, 93, 'Rhone'),
 (37, 'Savigny les Beaunes', 830, 54, 'Bourgogne'),
 (38, 'Savigny les Beaunes', 125, 52, 'Bourgogne'),
 (39, 'Savigny les Beaunes', 80, 52, 'Bourgogne'),
 (40, 'Richebourg', 90, None, None),
 (41, 'Clairette de Die', 25, 76, 'Jura'),
 (42, 'Beaujolais Primeur', 80, 82, 'Savoie'),
 (43, 'Fleurie', 500, 13, 'Bourgogne'),
 (43, 'Fleurie', 900, 72, 'Jura'),
 (43, 'Fleurie', 983, 85, 'Rhone'),
 (44, 'Moulin a vent', 40, 93, 'Rhone'),
 (45, 'Chiroubles', 90, 2, 'Alsace'),
 (45, 'Chiroubles', 912, 67, 'Beaujolais'),
 (45, 'Chiroubles', 98, 71, 'Jura'),
 (45, 'Chiroubles', 540, 78, 'Jura'),
 (45, 'Chiroubles', 450, 86, 'Rhone'),
 (46, 'Chiroubles', 760, 64, 'Beaujolais'),
 (47, 'Chiroubles', 75, 52, 'Bourgogne'),
 (48, 'Cote de Brouilly', 70, 93, 'Rhone'),
 (49, 'Morgon', 150, 2, 'Alsace'),
 (50, 'Chenas', 100, 2, 'Alsace'),
 (51, 'Chenas', 36, 15, 'Bourgogne'),
 (52, 'Brouilly', 500, 40, 'Bourgogne'),
 (53, 'Beaujolais Villages', 800, 40, 'Bourgogne'),
 (54, 'Beaujolais Villages', 500, 1, 'Alsace'),
 (54, 'Beaujolais Villages', 900, 2, 'Alsace'),
 (54, 'Beaujolais Villages', 500, 14, 'Bourgogne'),
 (54, 'Beaujolais Villages', 210, None, None),
 (55, 'Beaujolais Villages', 450, 14, 'Bourgogne'),
 (56, 'Saint Amour', 790, 24, 'Bourgogne'),
 (57, 'Crozes Hermitage', 940, 40, 'Bourgogne'),
 (58, 'Crozes Hermitage', 70, 45, 'Bourgogne'),
 (59, 'Crozes - Hermitage', 160, 45, 'Bourgogne'),
 (60, 'Crozes-Hermitage', 300, 50, 'Bourgogne'),
 (60, 'Crozes-Hermitage', 60, 60, 'Beaujolais'),
 (61, 'Hermitage', 120, 90, 'Rhone'),
 (62, 'Gigondas', 900, 60, 'Beaujolais'),
 (63, 'Coteaux du Tricastin', 136, None, None),
 (64, 'Coteaux du Tricastin', 870, 72, 'Jura'),
 (64, 'Coteaux du Tricastin', 980, 85, 'Rhone'),
 (65, 'Rochgrande', 10, 12, 'Bourgogne'),
 (65, 'Rochgrande', 560, 25, 'Bourgogne'),
 (66, 'Tavel', 124, None, None),
 (67, 'Gewurztraminer', 125, 5, 'Bourgogne'),
 (67, 'Gewurztraminer', 890, 10, 'Bourgogne'),
 (67, 'Gewurztraminer', 760, 82, 'Savoie'),
 (68, 'Riesling', None, 12, 'Bourgogne'),
 (69, "Tokay d'Alsace", 96, 9, 'Bourgogne'),
 (69, "Tokay d'Alsace", 320, 12, 'Bourgogne'),
 (69, "Tokay d'Alsace", 690, 69, 'Beaujolais'),
 (70, 'Sylvaner', 120, 38, 'Bourgogne'),
 (71, 'Palette', 132, 38, 'Bourgogne'),
 (72, 'Cassis', 34, 52, 'Bourgogne'),
 (73, 'Bellet', 45, 38, 'Bourgogne'),
 (74, 'Arbois', 650, 70, 'Beaujolais'),
 (74, 'Arbois', 850, 72, 'Jura'),
 (74, 'Arbois', 675, 84, 'Jura'),
 (75, 'Arbois', 69, 38, 'Bourgogne'),
 (76, 'Chateau Chalon', 100, 46, 'Bourgogne'),
 (76, 'Chateau Chalon', 900, 85, 'Rhone'),
 (77, 'Etoile', 100, 85, 'Rhone'),
 (78, 'Etoile', 300, 4, 'Alsace'),
 (78, 'Etoile', 360, 27, 'Bourgogne'),
 (78, 'Etoile', 900, 30, 'Bourgogne'),
 (78, 'Etoile', 980, 68, 'Beaujolais'),
 (78, 'Etoile', 970, 80, 'Jura'),
 (79, 'Seyssel', 100, 74, 'Jura'),
 (79, 'Seyssel', 79, 79, 'Jura'),
 (79, 'Seyssel', 800, 81, 'Jura'),
 (80, 'Seyssel', 79, 90, 'Rhone'),
 (81, 'Cornas', 24, 90, 'Rhone'),
 (82, 'Cornas', 100, 43, 'Bourgogne'),
 (82, 'Cornas', 800, 80, 'Jura'),
 (83, 'Saint Amour', 423, 95, 'Rhone'),
 (84, 'Rasteau', 146, 95, 'Rhone'),
 (85, 'Tavel', 46, 55, 'Beaujolais'),
 (86, 'Tavel', 500, 93, 'Rhone'),
 (87, 'Cotes de Provence', 630, 38, 'Bourgogne'),
 (87, 'Cotes de Provence', 680, 45, 'Bourgogne'),
 (87, 'Cotes de Provence', 900, 72, 'Jura'),
 (88, 'Cotes de Provence', 129, 55, 'Beaujolais'),
 (89, 'Cotes de Provence', 150, 15, 'Bourgogne'),
 (89, 'Cotes de Provence', 980, 42, 'Bourgogne'),
 (89, 'Cotes de Provence', 723, 55, 'Beaujolais'),
 (89, 'Cotes de Provence', 980, None, None),
 (89, 'Cotes de Provence', 100, 89, 'Rhone'),
 (90, 'Palette', 900, 56, 'Beaujolais'),
 (90, 'Palette', 40, 95, 'Rhone'),
 (91, 'Cassis', 24, 79, 'Jura'),
 (92, 'Coteaux de Pierevert', 900, 11, 'Bourgogne'),
 (93, 'Blanquette de Limoux', 110, 79, 'Jura'),
 (94, 'Cotes du Rousillon', 500, 11, 'Bourgogne'),
 (94, 'Cotes du Rousillon', 180, 27, 'Bourgogne'),
 (95, 'Cotes du Rousillon', 900, 95, 'Rhone'),
 (96, 'Saint Chinian', 370, 59, 'Beaujolais'),
 (97, 'Saint Chinian', 101, 70, 'Beaujolais'),
 (98, 'Corbieres', 986, 24, 'Bourgogne'),
 (98, 'Corbieres', 400, 35, 'Bourgogne'),
 (98, 'Corbieres', 150, 75, 'Jura'),
 (98, 'Corbieres', 890, 76, 'Jura'),
 (98, 'Corbieres', 340, 88, 'Rhone'),
 (99, 'Cote Rotie', 100, 5, 'Bourgogne'),
 (99, 'Cote Rotie', 199, 99, 'Rhone'),
 (100, 'Seyssel', 100, 25, 'Bourgogne'),
 (101, 'Saint Veran', 213, 70, 'Beaujolais'),
 (107, 'Sancerre', 7000, 107, 'Rhone')]

In [ ]:
%%sql DROP TABLE IF EXISTS Producer;

-- Creating Producer table
CREATE TABLE Producer AS
SELECT DISTINCT NP, NOM, PRENOM
FROM MASTER1
WHERE NP IS NOT NULL
ORDER BY NP;

SELECT *
FROM Producer;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Bohn', 'Rene'),
 (2, 'Boxler', 'Albert'),
 (3, 'Six', 'Paul'),
 (4, 'Stentz', 'Fernand'),
 (5, 'Joudeat', 'Lucien'),
 (6, 'Marmagne', 'Bernard'),
 (7, 'Lasnier', 'Pierre'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (9, 'Moniot', 'Gilbert'),
 (10, 'Fournier', 'Jean Claude'),
 (11, 'Clerget', 'Anne'),
 (12, 'Tortochot', 'Gabriel'),
 (13, 'Grivot', 'Jean'),
 (14, 'Jayer', 'Henri'),
 (15, 'Drouhin', 'Joseph'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (22, 'Dubreuil Fontaine', 'Pierre'),
 (23, 'Laleure', None),
 (24, 'Guillemot', 'Pierre'),
 (25, 'Valentin Bouchotte', 'Roger'),
 (26, 'Violot', 'Gilbert'),
 (27, 'Glantenay', 'Louis'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (30, 'Desbois', 'Maurice'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (35, 'Roulot', 'Guy'),
 (36, 'Sauzet', 'Etienne'),
 (37, 'Delagrange Bachelet', None),
 (38, 'de Launay', 'Paul'),
 (39, 'de Suremin', 'Hugues'),
 (40, 'Genelot', 'Maurice'),
 (41, 'Juillot', 'Michel'),
 (42, 'Juillot', 'Maurice'),
 (43, 'Menand', 'Jean Claude'),
 (44, 'Feyveley', None),
 (45, 'Jeannin', 'Andre'),
 (46, 'Monassier', 'Armand'),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (50, 'Chagny', 'Georges'),
 (51, 'Simonet', 'Leon'),
 (52, 'Lapierre', 'Jean'),
 (53, 'Cooperative', None),
 (54, 'Cooperative', None),
 (55, 'Michon', None),
 (56, 'Coutelle', 'Jean'),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (59, 'La Thuilliere', 'Jean'),
 (60, 'Vernus', 'Georges'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (64, 'Marius Bel Air', 'Morin'),
 (66, 'Cooperative', None),
 (67, 'Descombes', 'Jean Ernest'),
 (68, 'Savoye', 'Louis'),
 (69, 'Janin', 'Marcel'),
 (70, 'Trichard', 'Benoit'),
 (71, 'Chalandard', 'Danile'),
 (72, 'Reverchon', 'Joseph'),
 (73, 'Bourguignon', 'Emile'),
 (74, 'Grand', 'Rene'),
 (75, 'Loye', 'Camille'),
 (76, 'Maire', 'Henri'),
 (77, 'Tissot', 'Andre'),
 (78, 'Michlel', 'Pierre Emile'),
 (79, 'Petit', 'Gerard'),
 (80, 'Devaux', 'Jean Paul'),
 (81, 'Peltier', 'Pierre'),
 (82, 'Mollex', 'Georges'),
 (83, 'Goy', None),
 (84, 'Metral', 'Jean'),
 (85, 'Champet', 'Emile'),
 (86, 'Dumazet', 'Marc'),
 (88, 'Begot', 'Albert'),
 (89, 'Michelas', 'Robert'),
 (90, 'Roure', 'Raymond'),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (93, 'Marsanne', 'Jean'),
 (94, 'Grippat', 'Jean Louis'),
 (95, 'Verset', 'Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (98, 'Berard', None),
 (99, 'Cooperative', None),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (107, 'Meunier', 'Laurent'),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

#### Exercise 1.4

Create the new tables from Master2:

In [ ]:
%%sql DROP TABLE IF EXISTS WineSales;

-- Creating Wine Sales table
CREATE TABLE WineSales AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER2
WHERE NV IS NOT NULL;

SELECT *
FROM WineSales;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (2, 'Julienas', 11.3, 1974),
 (3, 'Savigny les Beaunes', 12.1, 1978),
 (4, 'Mercurey', 10.9, 1980),
 (5, 'Pommard', 11.7, 1976),
 (6, 'Mercurey', 11.2, 1981),
 (7, 'Grands Echezeaux', 11.7, 1968),
 (8, 'Cotes de Beaune Villages', 12.3, 1975),
 (9, 'Chapelle Chambertin', 11.9, 1973),
 (10, 'Beaujolais Villages', 11.8, 1979),
 (11, 'Sylvaner', 11.2, 1982),
 (12, 'Gentil', 10.7, 1975),
 (13, 'Cotes du Rhone', 12.3, 1968),
 (14, 'Chateau Chalon', 10.9, 1978),
 (15, 'Cote de Brouilly', 11.9, 1973),
 (16, 'Meursault', 12.1, 1980),
 (17, 'Meursault', 11.4, 1975),
 (18, 'Chambolle Musigny', 12.3, 1968),
 (19, 'Clos du roi', 11.2, 1972),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (21, 'Cotes de Nuits', None, 1978),
 (22, 'Savigny les Beaunes', None, 1974),
 (23, 'Pommard', None, 1972),
 (24, 'Cotes de Beaune Villages', 12.1, 1971),
 (25, 'Chapelle Chambertin', 10.5, 1968),
 (26, 'Chateau Corton Grancey', None, 1980),
 (27, 'Puligny Montrachet', 11, 1974),
 (28, 'Volnay', 11, 1980),
 (29, 'Corton', 11.6, 1972),
 (30, 'Bourgogne Passe Tout Grains', 12, 1979),
 (31, 'Monthelie', 11.4, 1968),
 (32, 'Pouilly Vinzelles', 12.3, 1968),
 (33, 'Santenay', 12, 1972),
 (34, 'Montagny', 11.2, 1978),
 (35, 'Auxey Duresses', 11.3, 1914),
 (36, 'Chorey les Beaunes', 11, 1955),
 (37, 'Savigny les Beaunes', 10, 1978),
 (38, 'Savigny les Beaunes', 11, 1977),
 (39, 'Savigny les Beaunes', None, 1973),
 (40, 'Richebourg', 12, 1943),
 (41, 'Clairette de Die', 12, 1976),
 (42, 'Beaujolais Primeur', 12, 1983),
 (43, 'Fleurie', 11.4, 1980),
 (44, 'Moulin a vent', None, 1983),
 (45, 'Chiroubles', None, 1983),
 (46, 'Chiroubles', 11, 1983),
 (47, 'Chiroubles', 11, 1978),
 (48, 'Cote de Brouilly', 12, 1899),
 (49, 'Morgon', 12, 1984),
 (50, 'Chenas', 11.5, 1984),
 (51, 'Chenas', 10, 1975),
 (52, 'Brouilly', None, 1975),
 (53, 'Beaujolais Villages', None, 1975),
 (54, 'Beaujolais Villages', 10.5, 1976),
 (55, 'Beaujolais Villages', 12.1, 1978),
 (56, 'Saint Amour', None, 1974),
 (57, 'Crozes Hermitage', 12.1, 1974),
 (58, 'Crozes Hermitage', 12.5, 1975),
 (59, 'Crozes - Hermitage', 12.3, 1972),
 (60, 'Crozes-Hermitage', 11, 1983),
 (61, 'Hermitage', 12, 1979),
 (62, 'Gigondas', 11, 1978),
 (63, 'Coteaux du Tricastin', 10, 1978),
 (64, 'Coteaux du Tricastin', 11, 1974),
 (65, 'Rochgrande', 10.8, 1968),
 (66, 'Tavel', 11, 1968),
 (67, 'Gewurztraminer', 12.5, 1968),
 (68, 'Riesling', 14, 1962),
 (69, "Tokay d'Alsace", 11, 1982),
 (70, 'Sylvaner', 11, 1982),
 (71, 'Palette', 11, 1981),
 (72, 'Cassis', 10, 1978),
 (73, 'Bellet', 11, 1976),
 (74, 'Arbois', 12, 1980),
 (75, 'Arbois', 11, 1976),
 (76, 'Chateau Chalon', 12, 1976),
 (77, 'Etoile', 11, 1979),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980),
 (88, 'Cotes de Provence', 10, 1976),
 (89, 'Cotes de Provence', 11, 1969),
 (90, 'Palette', 11, 1969),
 (91, 'Cassis', 11, 1979),
 (92, 'Coteaux de Pierevert', None, 1967),
 (93, 'Blanquette de Limoux', None, 1978),
 (94, 'Cotes du Rousillon', None, 1978),
 (95, 'Cotes du Rousillon', 12, 1978),
 (96, 'Saint Chinian', 11, 1976),
 (97, 'Saint Chinian', 11, 1976),
 (98, 'Corbieres', 10, 1978),
 (99, 'Cote Rotie', 13, 1994),
 (100, 'Seyssel', 11, 1974),
 (101, 'Saint Veran', 12.5, 1973),
 (107, 'Sancerre', 14, 1998)]

In [ ]:
%%sql DROP TABLE IF EXISTS Sales;

-- Creating  Sales table
CREATE TABLE Sales AS
SELECT DISTINCT NV, LIEU, QTE, NB, REGION
FROM MASTER2
WHERE NV IS NOT NULL;

SELECT *
FROM Sales;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'BORDEAUX', 33, 2, ' NOUVELLE-AQUITAINE'),
 (1, 'PARIS', 1, 44, ' LE-DE-FRANCE'),
 (1, 'RENNES', 1, 45, ' BRETAGNE'),
 (2, 'LYON', 2, 48, '  AUVERGNE-RHNE-ALPES'),
 (3, 'NICE', 6, 7, " PROVENCE-ALPES-CTE D'AZUR"),
 (3, 'MERCUREY', 5, 49, ' BOURGOGNE-FRANCHE-COMT'),
 (4, 'TOULOUSE', 12, 8, ' OCCITANIE'),
 (4, 'PARIS', 6, 44, ' LE-DE-FRANCE'),
 (4, 'SENS', 4, 50, ' BOURGOGNE-FRANCHE-COMT'),
 (5, 'MERCUREY', 50, 2, ' BOURGOGNE-FRANCHE-COMT'),
 (5, 'LILLE', 5, 52, ' HAUTS-DE-FRANCE'),
 (6, 'NANCY', 36, 3, ' GRAND EST'),
 (7, 'PARIS', 24, 4, ' LE-DE-FRANCE'),
 (7, 'CANNES', 7, 58, " PROVENCE-ALPES-CTE D'AZUR"),
 (8, 'PARIS', 78, 1, ' LE-DE-FRANCE'),
 (8, 'LILLE', 10, 9, ' HAUTS-DE-FRANCE'),
 (8, 'TOULON', 8, 60, " PROVENCE-ALPES-CTE D'AZUR"),
 (9, 'LYON', 20, 5, '  AUVERGNE-RHNE-ALPES'),
 (9, 'LILLE', 1, 10, ' HAUTS-DE-FRANCE'),
 (9, 'TOULON', 9, 61, " PROVENCE-ALPES-CTE D'AZUR"),
 (10, 'CHALON SUR SAONE', 500, 2, ' BOURGOGNE-FRANCHE-COMT'),
 (10, 'BORDEAUX', 10, 3, ' NOUVELLE-AQUITAINE'),
 (10, 'LYON', 10, 5, '  AUVERGNE-RHNE-ALPES'),
 (11, None, None, None, None),
 (12, 'TOULOUSE', 36, 6, ' OCCITANIE'),
 (13, None, None, None, None),
 (14, None, None, None, None),
 (15, None, None, None, None),
 (16, 'PARIS', 2, 44, ' LE-DE-FRANCE'),
 (17, None, None, None, None),
 (18, None, None, None, None),
 (19, None, None, None, None),
 (20, 'PARIS', 3, 44, ' LE-DE-FRANCE'),
 (20, 'NICE', 20, 61, " PROVENCE-ALPES-CTE D'AZUR"),
 (21, 'CANNES', 21, 62, " PROVENCE-ALPES-CTE D'AZUR"),
 (22, 'ROCQUENCOURT', 22, 75, ' LE-DE-FRANCE'),
 (22, 'PARLY', 22, 80, ' BOURGOGNE-FRANCHE-COMT'),
 (23, 'PARLY', 23, 82, ' BOURGOGNE-FRANCHE-COMT'),
 (24, 'LE CHESNAY', 14, 100, ' LE-DE-FRANCE'),
 (25, None, None, None, None),
 (26, 'PARIS', 4, 44, ' LE-DE-FRANCE'),
 (27, None, None, None, None),
 (28, 'PARIS', 5, 44, ' LE-DE-FRANCE'),
 (29, None, None, None, None),
 (30, None, None, None, None),
 (31, 'LYON', 6, 26, '  AUVERGNE-RHNE-ALPES'),
 (31, 'LYON', 100, 28, '  AUVERGNE-RHNE-ALPES'),
 (32, 'PARIS', 3, 22, ' LE-DE-FRANCE'),
 (32, 'PARIS', 7, 24, ' LE-DE-FRANCE'),
 (33, None, None, None, None),
 (34, None, None, None, None),
 (35, 'LYON', 80, 30, '  AUVERGNE-RHNE-ALPES'),
 (36, None, None, None, None),
 (37, None, None, None, None),
 (38, 'CAEN', 5, 12, ' NORMANDIE'),
 (38, 'CAEN', 2, 14, ' NORMANDIE'),
 (39, None, None, None, None),
 (40, 'NICE', 30, 15, " PROVENCE-ALPES-CTE D'AZUR"),
 (40, 'DIJON', 25, 17, ' BOURGOGNE-FRANCHE-COMT'),
 (40, 'DIJON', 12, 19, ' BOURGOGNE-FRANCHE-COMT'),
 (40, 'TOULOUSE', 1, 33, ' OCCITANIE'),
 (40, 'LE CHESNAY', 4, 92, ' LE-DE-FRANCE'),
 (41, 'TOULOUSE', 2, 31, ' OCCITANIE'),
 (41, 'SENS', 3, 94, ' BOURGOGNE-FRANCHE-COMT'),
 (42, 'SENS', 3, 94, ' BOURGOGNE-FRANCHE-COMT'),
 (42, 'PARIS', 4, 100, ' LE-DE-FRANCE'),
 (43, 'PARIS', 7, 44, ' LE-DE-FRANCE'),
 (44, None, None, None, None),
 (45, None, None, None, None),
 (46, None, None, None, None),
 (47, None, None, None, None),
 (48, None, None, None, None),
 (49, None, None, None, None),
 (50, 'PARIS', 1, 38, ' LE-DE-FRANCE'),
 (51, None, None, None, None),
 (52, None, None, None, None),
 (53, 'ROCQUENCOURT', 10, 12, ' LE-DE-FRANCE'),
 (54, 'ROCQUENCOURT', 120, 8, ' LE-DE-FRANCE'),
 (55, 'ROCQUENCOURT', 130, 9, ' LE-DE-FRANCE'),
 (56, 'ROCQUENCOURT', 80, 5, ' LE-DE-FRANCE'),
 (57, None, None, None, None),
 (58, None, None, None, None),
 (59, None, None, None, None),
 (60, None, None, None, None),
 (61, None, None, None, None),
 (62, 'PARIS', 5, 96, ' LE-DE-FRANCE'),
 (63, 'PARIS', 12, 3, ' LE-DE-FRANCE'),
 (64, 'PARIS', 1, 97, ' LE-DE-FRANCE'),
 (65, None, None, None, None),
 (66, None, None, None, None),
 (67, None, None, None, None),
 (68, None, None, None, None),
 (69, None, None, None, None),
 (70, None, None, None, None),
 (71, None, None, None, None),
 (72, None, None, None, None),
 (73, None, None, None, None),
 (74, 'PARIS', 8, 44, ' LE-DE-FRANCE'),
 (75, None, None, None, None),
 (76, None, None, None, None),
 (77, None, None, None, None),
 (78, 'PARIS', 9, 44, ' LE-DE-FRANCE'),
 (79, 'PARIS', 10, 44, ' LE-DE-FRANCE'),
 (80, 'PARIS', 11, 44, ' LE-DE-FRANCE'),
 (81, 'PARIS', 12, 44, ' LE-DE-FRANCE'),
 (82, 'PARIS', 13, 44, ' LE-DE-FRANCE'),
 (83, 'PARIS', 14, 44, ' LE-DE-FRANCE'),
 (84, 'PARIS', 15, 44, ' LE-DE-FRANCE'),
 (85, 'PARIS', 16, 44, ' LE-DE-FRANCE'),
 (86, 'PARIS', 17, 44, ' LE-DE-FRANCE'),
 (87, 'PARIS', 18, 44, ' LE-DE-FRANCE'),
 (88, None, None, None, None),
 (89, None, None, None, None),
 (90, None, None, None, None),
 (91, None, None, None, None),
 (92, None, None, None, None),
 (93, None, None, None, None),
 (94, None, None, None, None),
 (95, None, None, None, None),
 (96, None, None, None, None),
 (97, None, None, None, None),
 (98, None, None, None, None),
 (99, None, None, None, None),
 (100, 'CAEN', 3, 5, ' NORMANDIE'),
 (100, 'NANCY', 11, 40, ' GRAND EST'),
 (100, 'CANNES', 10, 41, " PROVENCE-ALPES-CTE D'AZUR"),
 (101, None, None, None, None),
 (107, None, None, None, None)]

In [ ]:
%%sql

DELETE 
FROM Sales
WHERE LIEU IS NULL 
      AND	QTE IS NULL
      AND	NB IS NULL
      AND	REGION IS NULL

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
55 rows affected.

[]

In [ ]:
%%sql

SELECT * 
FROM Sales

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(1, 'BORDEAUX', 33, 2, ' NOUVELLE-AQUITAINE'),
 (1, 'PARIS', 1, 44, ' LE-DE-FRANCE'),
 (1, 'RENNES', 1, 45, ' BRETAGNE'),
 (2, 'LYON', 2, 48, '  AUVERGNE-RHNE-ALPES'),
 (3, 'NICE', 6, 7, " PROVENCE-ALPES-CTE D'AZUR"),
 (3, 'MERCUREY', 5, 49, ' BOURGOGNE-FRANCHE-COMT'),
 (4, 'TOULOUSE', 12, 8, ' OCCITANIE'),
 (4, 'PARIS', 6, 44, ' LE-DE-FRANCE'),
 (4, 'SENS', 4, 50, ' BOURGOGNE-FRANCHE-COMT'),
 (5, 'MERCUREY', 50, 2, ' BOURGOGNE-FRANCHE-COMT'),
 (5, 'LILLE', 5, 52, ' HAUTS-DE-FRANCE'),
 (6, 'NANCY', 36, 3, ' GRAND EST'),
 (7, 'PARIS', 24, 4, ' LE-DE-FRANCE'),
 (7, 'CANNES', 7, 58, " PROVENCE-ALPES-CTE D'AZUR"),
 (8, 'PARIS', 78, 1, ' LE-DE-FRANCE'),
 (8, 'LILLE', 10, 9, ' HAUTS-DE-FRANCE'),
 (8, 'TOULON', 8, 60, " PROVENCE-ALPES-CTE D'AZUR"),
 (9, 'LYON', 20, 5, '  AUVERGNE-RHNE-ALPES'),
 (9, 'LILLE', 1, 10, ' HAUTS-DE-FRANCE'),
 (9, 'TOULON', 9, 61, " PROVENCE-ALPES-CTE D'AZUR"),
 (10, 'CHALON SUR SAONE', 500, 2, ' BOURGOGNE-FRANCHE-COMT'),
 (10, 'BORDEAUX', 10, 3, ' NOUVELLE-AQUITAINE'),
 (10, 'LYON', 10, 5, '  AUVERGNE-RHNE-ALPES'),
 (12, 'TOULOUSE', 36, 6, ' OCCITANIE'),
 (16, 'PARIS', 2, 44, ' LE-DE-FRANCE'),
 (20, 'PARIS', 3, 44, ' LE-DE-FRANCE'),
 (20, 'NICE', 20, 61, " PROVENCE-ALPES-CTE D'AZUR"),
 (21, 'CANNES', 21, 62, " PROVENCE-ALPES-CTE D'AZUR"),
 (22, 'ROCQUENCOURT', 22, 75, ' LE-DE-FRANCE'),
 (22, 'PARLY', 22, 80, ' BOURGOGNE-FRANCHE-COMT'),
 (23, 'PARLY', 23, 82, ' BOURGOGNE-FRANCHE-COMT'),
 (24, 'LE CHESNAY', 14, 100, ' LE-DE-FRANCE'),
 (26, 'PARIS', 4, 44, ' LE-DE-FRANCE'),
 (28, 'PARIS', 5, 44, ' LE-DE-FRANCE'),
 (31, 'LYON', 6, 26, '  AUVERGNE-RHNE-ALPES'),
 (31, 'LYON', 100, 28, '  AUVERGNE-RHNE-ALPES'),
 (32, 'PARIS', 3, 22, ' LE-DE-FRANCE'),
 (32, 'PARIS', 7, 24, ' LE-DE-FRANCE'),
 (35, 'LYON', 80, 30, '  AUVERGNE-RHNE-ALPES'),
 (38, 'CAEN', 5, 12, ' NORMANDIE'),
 (38, 'CAEN', 2, 14, ' NORMANDIE'),
 (40, 'NICE', 30, 15, " PROVENCE-ALPES-CTE D'AZUR"),
 (40, 'DIJON', 25, 17, ' BOURGOGNE-FRANCHE-COMT'),
 (40, 'DIJON', 12, 19, ' BOURGOGNE-FRANCHE-COMT'),
 (40, 'TOULOUSE', 1, 33, ' OCCITANIE'),
 (40, 'LE CHESNAY', 4, 92, ' LE-DE-FRANCE'),
 (41, 'TOULOUSE', 2, 31, ' OCCITANIE'),
 (41, 'SENS', 3, 94, ' BOURGOGNE-FRANCHE-COMT'),
 (42, 'SENS', 3, 94, ' BOURGOGNE-FRANCHE-COMT'),
 (42, 'PARIS', 4, 100, ' LE-DE-FRANCE'),
 (43, 'PARIS', 7, 44, ' LE-DE-FRANCE'),
 (50, 'PARIS', 1, 38, ' LE-DE-FRANCE'),
 (53, 'ROCQUENCOURT', 10, 12, ' LE-DE-FRANCE'),
 (54, 'ROCQUENCOURT', 120, 8, ' LE-DE-FRANCE'),
 (55, 'ROCQUENCOURT', 130, 9, ' LE-DE-FRANCE'),
 (56, 'ROCQUENCOURT', 80, 5, ' LE-DE-FRANCE'),
 (62, 'PARIS', 5, 96, ' LE-DE-FRANCE'),
 (63, 'PARIS', 12, 3, ' LE-DE-FRANCE'),
 (64, 'PARIS', 1, 97, ' LE-DE-FRANCE'),
 (74, 'PARIS', 8, 44, ' LE-DE-FRANCE'),
 (78, 'PARIS', 9, 44, ' LE-DE-FRANCE'),
 (79, 'PARIS', 10, 44, ' LE-DE-FRANCE'),
 (80, 'PARIS', 11, 44, ' LE-DE-FRANCE'),
 (81, 'PARIS', 12, 44, ' LE-DE-FRANCE'),
 (82, 'PARIS', 13, 44, ' LE-DE-FRANCE'),
 (83, 'PARIS', 14, 44, ' LE-DE-FRANCE'),
 (84, 'PARIS', 15, 44, ' LE-DE-FRANCE'),
 (85, 'PARIS', 16, 44, ' LE-DE-FRANCE'),
 (86, 'PARIS', 17, 44, ' LE-DE-FRANCE'),
 (87, 'PARIS', 18, 44, ' LE-DE-FRANCE'),
 (100, 'CAEN', 3, 5, ' NORMANDIE'),
 (100, 'NANCY', 11, 40, ' GRAND EST'),
 (100, 'CANNES', 10, 41, " PROVENCE-ALPES-CTE D'AZUR")]

In [ ]:
%%sql DROP TABLE IF EXISTS Client;

-- Creating Client table
CREATE TABLE Client AS
SELECT DISTINCT NB, NOM, PRENOM, TYPE
FROM MASTER2
WHERE NB IS NOT NULL
ORDER BY NB;

SELECT *
FROM Client;

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Aristote', None, 'petit'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (5, 'Audiberti', 'Jacques', 'petit'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (9, 'Ajar', 'Emile', 'petit'),
 (10, 'Andersen', 'Yann', 'gros'),
 (11, 'Breton', 'Andre', 'petit'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (15, 'Baudelaire', 'Charles', 'petit'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (17, 'Camus', 'Albert', 'petit'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (25, 'Char', 'Rene', 'petit'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (30, 'La Fontaine', 'Jean de', 'petit'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (38, 'Montaigne', 'Michel de', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (40, 'Moliere', None, 'petit'),
 (41, 'Gauthier', 'Theophile', 'petit'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (44, 'Gide', 'Andre', 'petit'),
 (45, 'Giono', 'Jean', 'petit'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (49, 'Kafka', 'Franz', 'petit'),
 (50, 'Lautreamont', None, 'moyen'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (52, 'Carroll', 'Lewis', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (60, 'Ovide', None, 'gros'),
 (61, 'Mallarme', 'Stephane', 'petit'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Frans de', 'gros'),
 (80, 'Sand', 'Georges', 'petit'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (82, 'Roussel', 'Rene', 'petit'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (92, 'Verne', 'Jules', 'petit'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (96, 'Wilde', 'Oscar', 'petit'),
 (97, 'Vigny', 'Alfred de', 'petit'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (100, 'Woolf', 'Virginia', 'petit')]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

**Important:**

- You MUST use the normalized tables created in previous steps.
  - The normalized tables will also be used in TP3.
- Do NOT use **Master1** and **Master2** in your queries.

#### Exercise 2.1

What are the different types of clients (buveurs) by volume of purchases?

In [ ]:
%%sql
SELECT DISTINCT TYPE 
FROM Client

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

#### Exercise 2.2

What regions produce Pommard or Brouilly?

In [ ]:
%%sql
SELECT CRU, REGION 
FROM Production
WHERE CRU = 'Pommard' OR CRU = 'Brouilly'

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[('Pommard', 'Bourgogne'), ('Pommard', 'Rhone'), ('Brouilly', 'Bourgogne')]

#### Exercise 2.3

What regions produce Pommard and Brouilly?

In [ ]:
%%sql
SELECT REGION 
FROM Production
WHERE Production.NV = (SELECT NV
        FROM WineProd
        WHERE CRU = 'Pommard'
        OR CRU = 'Brouilly')

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[('Bourgogne',)]

#### Exercise 2.4

Get the number of wines bught by CRU and Millsime

In [ ]:
%%sql
SELECT WineSales.CRU, WineSales.MILL, QTE AS Number_of_wines_bought
FROM Sales, WineSales
WHERE Sales.NV = WineSales.NV
GROUP BY WineSales.CRU, WineSales.MILL
ORDER BY WineSales.CRU

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 4),
 ('Beaujolais Villages', 1975, 10),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1979, 10),
 ('Chapelle Chambertin', 1973, 9),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 3),
 ('Cornas', 1980, 13),
 ('Cote de Brouilly', 1980, 20),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 12),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Beaune Villages', 1975, 8),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1980, 18),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 7),
 ('Julienas', 1974, 2),
 ('Mercurey', 1980, 4),
 ('Mercurey', 1981, 36),
 ('Meursault', 1980, 2),
 ('Monthelie', 1968, 100),
 ('Pommard', 1972, 23),
 ('Pommard', 1976, 5),
 ('Pouilly Vinzelles', 1968, 7),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 4),
 ('Saint Amour', 1974, 80),
 ('Saint Amour', 1980, 14),
 ('Savigny les Beaunes', 1974, 22),
 ('Savigny les Beaunes', 1977, 2),
 ('Savigny les Beaunes', 1978, 5),
 ('Seyssel', 1974, 10),
 ('Seyssel', 1980, 11),
 ('Tavel', 1980, 17),
 ('Volnay', 1980, 5)]

#### Exercise 2.5

Retrieve the wine number (NV) of wines produced by more than three producers

In [ ]:
%%sql
SELECT NV, COUNT(*) AS Number_of_producers
FROM Production
GROUP BY NP
HAVING COUNT(NP) > 3

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(54, 4),
 (99, 5),
 (87, 6),
 (57, 4),
 (60, 5),
 (72, 4),
 (87, 5),
 (77, 4),
 (45, 4),
 (81, 4),
 (86, 4),
 (95, 6)]

Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

#### Exercise 2.6

Which producers have not produced any wine?

In [ ]:
%%sql
SELECT Producer.NP, Producer.NOM, Producer.PRENOM
FROM Producer
LEFT JOIN Production on Production.NP = Producer.NP
WHERE Production.NP IS NULL

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred')]

#### Exercise 2.7

What clients (buveurs) have bought at least one wine from 1980?

In [ ]:
%%sql
SELECT DISTINCT Client.NB, NOM, PRENOM 
FROM Client, Sales, WineSales
WHERE Client.NB = Sales.NB
      AND
      Sales.NV = WineSales.NV
      AND
      MILL = 1980
      AND
      QTE > 0
ORDER BY Client.NB

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(2, 'Artaud', 'Antonin'),
 (8, 'Aragon', 'Louis'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

#### Exercise 2.8

What clients (buveurs) have NOT bought any wine from 1980?

In [ ]:
%%sql
SELECT DISTINCT Client.NB, NOM, PRENOM 
FROM Client, Sales, WineSales
WHERE Client.NB = Sales.NB
      AND
      Sales.NV = WineSales.NV
      AND
      MILL <> 1980
      AND
      QTE > 0
ORDER BY Client.NB

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(1, 'Aristote', None),
 (2, 'Artaud', 'Antonin'),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (8, 'Aragon', 'Louis'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (12, 'Bataille', 'Georges'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (17, 'Camus', 'Albert'),
 (19, 'Ciceron', None),
 (22, 'Cocteau', 'Jean'),
 (24, 'Courrier', 'Paul Louis'),
 (26, 'Diderot', 'Denis'),
 (28, 'Dostoievsky', 'Fiodor'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (33, 'Flaubert', 'Gustave'),
 (38, 'Montaigne', 'Michel de'),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (52, 'Carroll', 'Lewis'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (60, 'Ovide', None),
 (61, 'Mallarme', 'Stephane'),
 (62, 'Proust', 'Marcel'),
 (75, 'Ronsard', 'Pierre'),
 (80, 'Sand', 'Georges'),
 (82, 'Roussel', 'Rene'),
 (92, 'Verne', 'Jules'),
 (94, 'Zola', 'Emile'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (100, 'Woolf', 'Virginia')]

#### Exercise 2.9

What clients (buveurs) have bought ONLY wines from 1980?

In [ ]:
%%sql
SELECT DISTINCT Client.NB, NOM, PRENOM
FROM Client, Sales, WineSales
WHERE Client.NB = Sales.NB
      AND
      Sales.NV = WineSales.NV
GROUP BY Client.NB
HAVING COUNT(Client.NB) = 1 AND MILL = 1980
ORDER BY Client.NB

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

In [ ]:
%%sql
SELECT DISTINCT Client.NB, NOM, PRENOM
FROM Client, Sales, WineSales
WHERE Client.NB = Sales.NB
      AND
      Sales.NV = WineSales.NV
GROUP BY Client.NB
HAVING COUNT(Client.NB) > 0 AND MILL = 1980
ORDER BY Client.NB

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (50, 'Lautreamont', None),
 (61, 'Mallarme', 'Stephane')]

Done.

[(44, 'Gide', 'Andre'), (45, 'Giono', 'Jean'), (50, 'Lautreamont', None)]

#### Exercise 2.10

List all wines from 1980

In [ ]:
%%sql
SELECT * from WineProd
WHERE MILL = 1980

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(1, 'Mercurey', 11.5, 1980),
 (4, 'Mercurey', 10.9, 1980),
 (16, 'Meursault', 12.1, 1980),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (26, 'Chateau Corton Grancey', None, 1980),
 (28, 'Volnay', 11, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (74, 'Arbois', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980)]

#### Exercise 2.11

What are the wines from 1980 bought by NB=2?

In [ ]:
%%sql
SELECT * 
FROM WineSales
WHERE MILL = 1980
      AND
      (SELECT NB
        FROM Sales
        WHERE Sales.NV = WineSales.NV
        AND
        Sales.NB = 2)

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(1, 'Mercurey', 11.5, 1980)]

#### Exercise 2.12

What clients (buveurs) have bought ALL the wines from 1980?

In [ ]:
%%sql DROP TABLE IF EXISTS AllWines;

-- Creating All Wines table
CREATE TABLE AllWines AS
SELECT DISTINCT NV, CRU, DEGRE, MILL
FROM MASTER2
WHERE MILL = 1980;

SELECT *
FROM AllWines

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.
Done.
Done.

[(1, 'Mercurey', 11.5, 1980),
 (4, 'Mercurey', 10.9, 1980),
 (16, 'Meursault', 12.1, 1980),
 (20, 'Cote de Brouilly', 12.1, 1980),
 (26, 'Chateau Corton Grancey', None, 1980),
 (28, 'Volnay', 11, 1980),
 (43, 'Fleurie', 11.4, 1980),
 (74, 'Arbois', 12, 1980),
 (78, 'Etoile', 12, 1980),
 (79, 'Seyssel', 11, 1980),
 (80, 'Seyssel', 11, 1980),
 (81, 'Cornas', 11.1, 1980),
 (82, 'Cornas', 11, 1980),
 (83, 'Saint Amour', 10, 1980),
 (84, 'Rasteau', 10, 1980),
 (85, 'Tavel', 11, 1980),
 (86, 'Tavel', 11, 1980),
 (87, 'Cotes de Provence', None, 1980)]

In [ ]:
%%sql

SELECT Sales.NB, NOM, PRENOM 
FROM Sales, AllWines, Client
WHERE Sales.NV = AllWines.NV
      AND 
      Sales.NB = Client.NB
GROUP BY Sales.NB
HAVING COUNT(Sales.NB) = (SELECT COUNT(*)
                    FROM AllWines)

 * sqlite:////content/drive/MyDrive/SD202-Databases/wine.db
Done.

[(44, 'Gide', 'Andre')]